##################
##  MY ALIASES  ##
##################
alias aa='echo $@'


alias ls='ls -lrtN --color'
alias lsd='ls -l --color | grep "^d"'
alias lsdo='ls -a --color=none | grep "\ \."'
alias fkcolor="sed 's/\x1b\[[0-9;]*[a-zA-Z]//g'"


alias egops='docker run -ti egops'
alias bci='bitcoin-cli'
alias ext='exit'
alias droid='/home/eric/go/bin/go-mtpfs /home/eric/G4Active'
alias l='ls -l'
alias la='ls -alF'
alias lrt='ls -lrt'
alias lart='ls -alrt'
alias new='clear; date'
alias r='fc -e -'
alias BitchX='BitchX -a'
alias vdiff='vim -d'
alias fuckdiff='echo "diff original <patched&filetobepatched> > this.patch"'
alias myuse="python -c \"import portage; print portage.settings['USE']\""
#alias python='bash -lc python'
#alias dict="edict"
alias dict="dict.py"
alias define="dict.py"
alias thes="ethes"
#alias omutt="mutt -F ~/.muttrc.opelousas.org"
#alias wmutt="mutt -F ~/.muttrc.tonychachere.com"
#alias tmutt="mutt -F ~/.muttrc.test"
#alias switchto='sudo switchto'
#alias switcher='/home/eric/bin/switcher'
alias vnc='vncviewer'
alias wiki='rox /home/eric/Apps/Ewiki'
alias emerge='sudo emerge'
alias survey="history |awk '{a[\$2]++} END{for(i in a){printf \"%5d\t%s \n\",a[i],i}}'|sort -rn|head"
#alias diff="colordiff"
alias sudo='sudo -E'
alias grep='grep --color=always'
alias s1='tn5250 env.DEVNAME=EricS1'
alias s2='tn5250 env.DEVNAME=EricS2'
alias s3='tn5250 env.DEVNAME=EricS3'

#########################
# Host shortcuts		#
#########################
alias pawn='ssh eric@fuck.getmyip.com'
alias sylox='rdesktop -g 1024x768 sylox -u Administrator -5'
alias home='rdesktop -g 1280x1024 home.opelousas.org -u REdOG -5'
alias virtxp='rdesktop -g 1280x1024 virtxp -u eric -d CAJUNSPICE -5 -r sound:local'
alias virtcp='rdesktop -g 1280x1024 virtcp -u eric -d CAJUNSPICE -5'
alias wraith='rdesktop -g 1280x1024 wraith -u Administrator -5'

alias aspartame='rdesktop -g 1280x1024 aspartame -u tonychachere\\Administrator -r disk:tmp=/tmp -0'

#alias spice='rdesktop -g 1280x1024 spice -u tonychachere\\Administrator -r disk:tmp=/tmp -0'
alias spice='xfreerdp /u:eric /v:spice /size:1920x1200'


alias formaldehyde='rdesktop -g 1280x1024 formaldehyde -u tonychachere\\Administrator -r disk:tmp=/tmp -0'

alias v7='rdesktop -g 1280x1024 virtseven -u tonychachere\\eric -r disk:tmp=/tmp -0'

alias reset='echo "X[mX(BX)0OX[?5lX7X[rX8" | tr "XO" "\033\017" && /usr/bin/reset'
#alias date='date +"%a %b %d %r"'
#alias date='date +"%a %b %d %r"'
alias ssave='xset dpms force off'
alias psmem='ps -eo pid,vsz,comm |sed -e 1d | sort -k2 -n | awk '"'"'{a=$2; if ($2>0) {print $1, $2/8/1024, "MB", $3}}'"'"
alias tart='xfreerdp /size:1280x1024 /u:eric /sec:nla /v:tart.tonychachere.com'
alias cgrep='grep -v ^# | grep -v ^; | sed -e "/^$/d"'
alias eix='eix -F'
alias zls='zfs list'
alias gls='gluster volume list'
alias glps='gluster peer status'
alias bricks="gluster v info | grep Brick |grep -v Bricks | awk '{print $2}' | sort"
alias lsdhcp='ssh root@barbeque /root/bin/lsdhcp'

alias lsata='ls -l /sys/block/sd* | sed -e "s^.*-> \.\.^/sys^" -e "s^/host^ ^" -e "s^/target.*/^ ^" | while read Path HostNum ID ; do echo ${ID}: `cat $Path/host$HostNum/scsi_host/host$HostNum/unique_id`; done'

alias rj='xargs printf "%$((${COLUMNS}-4))s\n"'
#alias pixel='export QEMU_AUDIO_DRV=none && /opt/android-sdk-update-manager/emulator/emulator @Pixel_2_API_29 -sdcard /home/eric/.android/avd/Pixel_2_API_29.avd/sdcard.img -gpu on -no-boot-anim -accel on -selinux disabled -timezone America/Chicago -netfast -verbose -show-kernel -logcat *:e -use-system-libs'
alias pixel='export QEMU_AUDIO_DRV=none && /opt/android-sdk-update-manager/emulator/emulator @Pixel_2_API_29 -sdcard /home/eric/.android/avd/Pixel_2_API_29.avd/sdcard.img -gpu on -no-boot-anim -accel on -selinux disabled -timezone America/Chicago -netfast'
alias nexus='export QEMU_AUDIO_DRV=none && /opt/android-sdk-update-manager/emulator/emulator @Nexus_5X_API_28 -sdcard /home/eric/.android/avd/Nexus_5X_API_28.avd/sdcard.img -gpu on -no-boot-anim -accel on -selinux disabled -timezone America/Chicago -netfast'
#alias powershell='docker run -ti egops'
alias vim='nvim'
#########################
##  END OF MY ALIASES  ##
#########################
